ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  background-color: #0064a3;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
